@import "compass";

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.container {
  width: 950px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  margin: 0;
}

#homepage-fullpage-container {
  height: 100vh;
  background: #505050;

  .homepage-block-container {
    border: solid white 3px;
    width: 700px;
    margin: 0 auto;
    position: relative;
    top: 250px;
    text-align: center;
    color: white;
    padding: 70px 50px 50px 50px;
  }
  #contact-button {
    background: #28CDBE;
    padding: 17px 30px 17px 30px;
    color: white;
    text-align: center;
    position: absolute;
    right: 320px;
    bottom: -20px;
  }
}

#second-section {
  background: #EAEAEA;
  height: 100vh;
  position: relative;

  #top-div {
    text-align: center;
    padding-top: 100px;
    width: 950px;
    margin: 0 auto;

    .big-icon {
      margin: 0 auto;
      border: solid black 2px;
      width: 140px;
      height: 140px;
      @include border-radius(140px);

      i {
        font-size: 80px;
        margin-top: 30px;
      }
    }
  }

  #mid-div {
    width: 950px;
    margin: 60px auto;

    ul {

      li {
        display: inline-block;
        margin-right: 145px;

        .small-icon-container {
          @include border-radius(95px);
          border: solid #28CDBE 1px;
          color: white;
          width: 95px;
          height: 95px;
          text-align: center;
          position: relative;

          &:after {
            color: black;
            content: "";
            border-bottom: 1px #000000 dashed;
            width: 100px;
            position: absolute;
            top: 50px;
            left: 120px;
          }

          .small-icon {
            @include border-radius(85px);
            width: 85px;
            height: 85px;
            background: #28CDBE;
            margin: 5px auto;
          }

          i {
            font-size: 50px;
            margin-top: 17px;
          }
        }

        &:nth-child(4) {
          margin-right: 0;
        }

        .last:after {
          border: none;
        }
      }   
    }
  }

  #bottom-div {
    padding: 70px 0 10px 0;
    background: #2E537F;
    position: absolute;
    bottom: 0;
    width: 100%;

    .bottom-div-container {
      width: 650px;
      margin: 0 auto;
      color: white;

      .play-container {
        position: relative;
        right: -40px;
        top: -35px;
        width: 140px;
        padding: 30px 0 30px 0;
        text-align: center;
        @include border-radius(100px);
        background: #31383E;

        i {
          font-size: 80px;
          position: relative;
          right: -10px;
        }
      }
    }
  }
}

#third-section {
  background: #EAEAEA;
  height: 100vh;
  position: relative;
  padding: 120px 0 0 0;

  h2 {
    text-align: center;
  }

  .works-box {
    width: 280px;
    height: 240px;
    background: white;
    position: relative;
    top: -20px;
    padding: 10px 10px 0 10px;
  }

  .skillz {
    color: #AAAAAA;
    font-size: 12px;
  }

  p {
    color: #AAAAAA;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 12px;
  }

  .works-control {
    margin: 0 auto;
    width: 210px;

    .left-arrow {
      background: #96999D;
      padding: 4px 5px 4px 5px;
      width: 15px;
      text-align: center;
      color: white;
    }

    .right-arrow {
      background: #96999D;
      padding: 4px 5px 4px 5px;
      width: 15px;
      text-align: center;
      color: white;     
    }

    .all-works {
      margin: 0 auto;
      position: relative;
      right: -5px;
      background: #96999D;
      width: 110px;
      height: 18px;
      text-align: center;
      color: white;  
      padding: 4px 20px 4px 20px;

      p {
        color: white;
        position: relative;
        top: -13px;
      }

      i {
        position: relative;
        top: 2px;
      }
    }
  }
}