#homepage-fullpage-container
  .homepage-block-container
    %h3 WE ARE ORA AGENCY
    %p Cupiditate laborum quaerat eaque dolor odit debitis et tempore mollitia temporibus dolores assumenda numquam
    #contact-button
      %i.fa.fa-bullseye
      Contact Us
#second-section
  #top-div
    .big-icon
      %i.fa.fa-archive
    %h3 READY FOR ARCHIVE
    %p Quis ut non vel reprehenderit cupiditate nam qui provident odit consequatur. hic saepe doloribus repudiandae. eos est earum maiores provident reiciendis eius.
  #mid-div
    %ul
      %li
        .small-icon-container
          .small-icon
            %i.fa.fa-archive
      %li
        .small-icon-container
          .small-icon
            %i.fa.fa-archive
      %li
        .small-icon-container
          .small-icon
            %i.fa.fa-archive
      %li
        .small-icon-container.last
          .small-icon
            %i.fa.fa-archive
  #bottom-div
    .bottom-div-container
      .float-left
        %h1 PLAY VIDEO
      .play-container.float-left
        %i.fa.fa-play
      .float-right
        %h1 KNOW BETTER
      .clear
#third-section
  .container
    %h2 OUR GREAT WORKS
    %p{style: 'text-align: center;'} Lorem ipsum dolor sitta ipsum dolor sitta ipsum dolor ipsum sitta lorem.  lorem ipsum dolor sitta ipsum dolor sitta ipsum dolor ipsum sitta lorem.
    %br
    .works-box-container.float-left{style: 'margin-right: 20px;'}
      = image_tag lorem.image('300x200', :background_color => '333', :color => 'fff')
      .works-box
        %p.skillz ILLUSTRATION, BRAND, GRAPHICS
        %h3 LOREM IPSUM DOLOR SITTA 
        %p Lorem ipsum dolor sitta ipsum dolor sitta ipsum dolor ipsum sitta lorem.  lorem ipsum dolor sitta ipsum dolor sitta ipsum dolor ipsum sitta lorem.  lorem ipsum dolor sitta ipsum dolor sitta ipsum dolor ipsum sitta lorem.
    .works-box-container.float-left{style: 'margin-right: 20px;'}
      = image_tag lorem.image('300x200', :background_color => '333', :color => 'fff')
      .works-box
        %p.skillz ILLUSTRATION, BRAND, GRAPHICS
        %h3 LOREM IPSUM DOLOR SITTA 
        %p Lorem ipsum dolor sitta ipsum dolor sitta ipsum dolor ipsum sitta lorem.  lorem ipsum dolor sitta ipsum dolor sitta ipsum dolor ipsum sitta lorem.  lorem ipsum dolor sitta ipsum dolor sitta ipsum dolor ipsum sitta lorem.
    .works-box-container.float-left
      = image_tag lorem.image('300x200', :background_color => '333', :color => 'fff')
      .works-box
        %p.skillz ILLUSTRATION, BRAND, GRAPHICS
        %h3 LOREM IPSUM DOLOR SITTA 
        %p Lorem ipsum dolor sitta ipsum dolor sitta ipsum dolor ipsum sitta lorem.  lorem ipsum dolor sitta ipsum dolor sitta ipsum dolor ipsum sitta lorem.  lorem ipsum dolor sitta ipsum dolor sitta ipsum dolor ipsum sitta lorem.
    .works-control
      .left-arrow.float-left
        %i.fa.fa-caret-left
      .all-works.float-left
        %i.fa.fa-align-justify.float-left
        %p.float-right see all works
        .clear
      .right-arrow.float-right
        %i.fa.fa-caret-right
      .clear


