#homepage-fullpage-container
  .homepage-block-container
    %h3 WE ARE ORA AGENCY
    %p Cupiditate laborum quaerat eaque dolor odit debitis et tempore mollitia temporibus dolores assumenda numquam
    #contact-button
      %i.fa.fa-bullseye
      Contact Us
#second-section
  #top-div
    .big-icon
      %i.fa.fa-archive
    %h3 READY FOR ARCHIVE
    %p Quis ut non vel reprehenderit cupiditate nam qui provident odit consequatur. hic saepe doloribus repudiandae. eos est earum maiores provident reiciendis eius.
  #bottom-div
    %ul
      %li
        .small-icon-container
          .small-icon
            %i.fa.fa-archive
      %li
        .small-icon-container
          .small-icon
            %i.fa.fa-archive
      %li
        .small-icon-container
          .small-icon
            %i.fa.fa-archive
      %li
        .small-icon-container.last
          .small-icon
            %i.fa.fa-archive

